<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-1 text-center ">MovieFind</h1>
    <p class="lead text-center mt-3"> ¡Descubre en qué plataforma se encuentra la película que quieres ver!
    </p>
  </div>
</div>

<div class=" navbar">
  <div class="row col-12">
    <input class="form-control " id="buscador" type="search" placeholder="Search" aria-label="Search">
    <button class="btn " type="submit">Search</button>
  </div>
</div>

<div class=" navbar">
  <div class="row col-12">
    <input class="form-control " id="buscador" type="search" placeholder="Search" aria-label="Search">
    <button class="btn " type="submit">Search</button>
  </div>
</div>

<router-outlet></router-outlet>