.card-header{
background-color: transparent;
}

.table{
    height: fit-content;
    /* width: 500px; */
    border: hidden;
    }

.fondo{
    position: relative;
    margin-bottom: -350px;  
    z-index: -10;
    margin-bottom: -300px;
}

.flotar{
    box-shadow:0 5px 10px rgba(0,0,0.63,0.63);
    /* z-index: 1000; */
    position: relative;
}

.icon{
    height: 3rem;
    width: 3rem;
    border-radius: 0.25rem;
}
.badge {
    margin-bottom: -100px;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card-img-top{
    height: 13rem;
   width: auto;
   }

.colorFondo{
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(51,51,51,1) 57%, rgba(84,86,109,0) 100%);
    background-position: bottom center;
}


.card{  
border: 0em;
}

.car-img{
    height: 10rem;
    width: auto;
}

table td {
    border-top: 0px solid;
}


.poster{
    height: 10rem;
    width: auto;
}

.bordeTabla{
    border-top: 1px solid rgb(174, 174, 178);
}

header{
    margin-bottom: 17px;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: .024em;
    font-family: "SF Pro Display","SF Pro Icons","Apple WebExp Icons Custom","Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* Mobile  */
@media screen and (max-width: 850px) {


.ml-5, .mx-5 {
    margin-left: 0rem!important;
}

.mr-3, .mx-3 {
    margin-right: 0rem !important;
}

.fondo{
    display: none;
}


.col-11{
    flex: 100%;
    max-width: 100%;
}



}
